/* id style rules */
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#scores {
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
}

/* class style rules */
.score {
    font-size: 48px;
}

/* type style rules */
button {
    background-color: lightblue;
    color: black;
}